/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require header
 *= require main
 *= require catalog
 *= require product
 *= require_self
 */

 * { font-family: 'PT Sans', sans-serif; }

.container-fluid {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.container {
  min-width: 960px !important;
}

html, body {
  min-width: 960px !important;
}

.container-breadcrumbs {
  background-color: #f5f5f5;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.green-btn {
  border-radius: 0;
  background-color: #08b05a;
  color: white;
  padding: 6px 10px;
}
.green-btn:hover {
  background-color: #47C885;
  color: white;
  padding: 6px 10px;
}

ol.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  li+li:before {
    padding:0;
    padding-right: 20px;
  }
  li {
    padding: 2px 0;
    a {
      color: #999;
      padding: 15px 30px 15px 0;
    }
  }

}

.row960 {
  width: 960px;
  margin: auto;
  text-align: left;
  position: relative;
  min-height: 1px;
}
