.main.container-fluid {
  height: 480px;
  background: image-url('main.jpg') no-repeat center center;
  background-size: 1440px 480px;
  .main-label {
    width: 960px;
    margin: auto;
    padding: 15px;
  }
}

.main {
  h1 {
    color: white;
    font-size: 52px;
  }
  h1.main_text {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 0.5;
  }
  .btn {
    padding: 10px 35px !important;
    width: 160px;
    font-weight: 200;
  }
  .phones {
    padding: 70px 0;
    h1 {
      margin-top: 10px;
    }
    .phones-div {
      padding: 20px;
      width: 700px;
      border: 1px solid black;
      text-align: center;
      position: relative;
      h1 {
        color: black;
        font-weight: bold;
      }
      .image {
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: -221px;
        margin-top: -40px;
        padding: 0 185px;
        background-color: white;
      }
      .callback {
        position: absolute;
        bottom: -30px;
        padding: 0 100px;
        background-color: white;
        width: 450px;
        left: 50%;
        margin-left: -225px;
        .cl-button {
          background: #47C885;
          line-height: 50px;
          font-weight: 200;
          font-size: 18px;
          white-space: nowrap;
          height: 50px;
          border-bottom: none;
          img {
            position: relative;
            height: 15px;
            margin-top: -2px;
            margin-right: 10px;
            margin-left: -10px
          }
          &:hover {
            background: #47C885;
            background: #52D38F;
            border-bottom: none;
          }
          a {
            color: white;
            border-bottom: 0px;
            position: relative;
            text-decoration: none;
          }
          &:hover {
            a {
              color: white;
              border: 0;
            }
          }
        }
      }
    }
  }
}

.house-cards {
  text-align: left;
  width: 960px;
  margin: auto;
}

.house-card {
  position: relative;
  width: 290px;
  height: 270px;
  overflow: hidden;
  float: left;
  margin: 15px;
  .image {
    position: absolute;
    top: 0;
    img {
      width: 100%;
    }
  }
  .title {
    position: absolute;
    bottom: 0;
    background-color: #47C885;
    color: white;
    padding: 20px;
    height: 120px;
    width: 100%;
    h3, h4 {
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      font-weight: bold;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}

.house-card2,
.catalog-card,
.product-card {
  padding: 15px;
  height: 300px;
  overflow: hidden;

  .image {
    width: 40%;
    height: 100%;
  }
  .image img {
    height: 100%;
    width: 100%;
  }
  .title {
    width: 60%;
    height: 100%;
    background-color: #47C885;
    color: white;
    padding: 20px;
    h1 {
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      font-weight: bold;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  .left {
    float: left
  }
  .right {
    float: right
  }
}

.product-card {
  width: 300px;
  float: left;
  .image {
    width: 50%;
    overflow: hidden;
  }
  .title {
    width: 50%;
  }
}


.ceo {
  text-align: center;
  height: 150px;
  background: #F2F2F2;
  color: #7E7E7E;
  line-height: 150px;
  vertical-align: middle;
  font-size: 40px;
}

.footer {
  background: #F2F2F2;
  color: #7E7E7E;

  .footer-cell {
    padding: 40px 0;
    border-bottom: 1px solid lightgray;
    .menus {
      border-right: 1px solid lightgray;
      ul {
        float: left;
        padding-right: 30px;
        li, li a {
          margin-bottom: 10px;
          font-size: 13px;
          border-right: 0;
          padding: 0;
          color: #7E7E7E;
          &:hover {
            color: #5c5c5c;
          }
        }
      }
    }
    .right-footer {
      padding: 0 40px;
      h4 {
        color: #47C885;
        margin-top: 0;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .footer-bottom {
    padding: 10px;
    font-size: 11px;
  }
}
