.main.container-fluid {
  height: 480px;
  background: image-url('main.jpg') no-repeat center center;
  background-size: 100% auto; /* width and height, can be %, px or whatever. */
}

.main {
  h1 {
    color: white;
    font-size: 52px;
  }
  .btn {
    padding: 10px 35px !important;
    width: 160px;
    font-weight: 200;
  }
}

.house-card {
  .image img {
    width: 100%;
    max-height: 150px;
  }
  .title {
    background-color: #47C885;
    color: white;
    padding: 20px;
    h3, h4 {
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      font-weight: bold;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}

.house-card2,
.catalog-card {
  padding: 0 30px;
  height: 250px;
  overflow: hidden;

  .image {
    width: 40%;
    height: 100%;
  }
  .image img {
    height: 100%;
  }
  .title {
    width: 60%;
    height: 100%;
    background-color: #47C885;
    color: white;
    padding: 20px;
    h1 {
      margin: 0;
      padding: 0;
      padding-bottom: 20px;
      font-weight: bold;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  .left {
    float: left
  }
  .right {
    float: right
  }
}


.ceo {
  text-align: center;
  height: 150px;
  background: #F2F2F2;
  color: #7E7E7E;
  line-height: 150px;
  vertical-align: middle;
  font-size: 40px;
}

.footer {
  background: #F2F2F2;
  color: #7E7E7E;

  .footer-cell {
    padding: 40px 0;
    border-bottom: 1px solid lightgray;
    .menus {
      border-right: 1px solid lightgray;
      ul {
        float: left;
        padding-right: 30px;
        li {
          margin-bottom: 10px;
          font-size: 13px;
        }
      }
    }
    .right-footer {
      padding: 0 40px;
      h4 {
        color: #47C885;
        margin-top: 0;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .footer-bottom {
    padding: 10px;
    font-size: 11px;
  }
}
