<div class="row960">
  <div id="yt_component" class="span12">
    <div class="component-inner">
      <div class="item-page">
        <div class="page-header">
          <h2>
            Производство бруса</h2>
          </div>
          <p style="text-align: justify;">Профилированный брус - это один из многих материалов нового поколения, который по большому количеству параметров ничем не уступает проверенным временем строительным материалам. Отличительная особенность - наличие в конструкции системы "шип-паз", которая наделяет данный материал многими положительными свойствами. Профилированный брус естественной влажности - один из самых популярных современных строительных материалов, широко используется для возведения дачных домов и загородных коттеджей. В доме из цельного бруса хорошо жить хоть зимой, хоть летом - натуральная древесина обеспечивает комфортный микроклимат в любую погоду. Естественно, в холода дом из профилированного бруса нужно топить, а вот в жаркое время года можно обойтись без кондиционера.</p>
          <p style="text-align: justify;">На сегодняшний день профилированный брус относится к одним из самых перспективных строительных материалов, для возведения частных загородных домов и бань.</p>
        </div>
      </div>
    </div>
    <div class="component-inner">
      <div class="item-page">
        <div class="page-header">
          <h2>
            Производство ОЦБ
          </h2>
        </div>
        <p style="text-align: justify;">Оцилиндрованное бревно в срубе имеет более презентабельный вид, чем бревна ручной рубки, качество швов намного лучше. Высокая точность изготовления оцилиндровки позволяет избежать подгонки бревен по толщине. Они идеально ровные и могут быть диаметром от 18 до 28 см. Необходимые пазы и замки имеют математически выверенную форму - в результате вены дома имеют минимальные зазоры, а бревна могут соединяться под любым необходимым углом.</p>
      </div>
    </div>
  </div>
